.header {
    width: 100%;
    background-color: #f9f9f9; /* Color de fondo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    align-items: center; /* Alinea verticalmente todos los elementos */
    justify-content: space-between; /* Mantiene la separación original entre los elementos */
    height: 80px; /* Altura del header */
    padding: 0 20px;
}

.logo-container {
    height: 40px; /* Altura del logo */
    display: flex;
    align-items: center; /* Centra verticalmente el logo */
}

.nav-links {
    display: flex;
    gap: 30px; /* Espaciado entre los botones de navegación */
    flex-grow: 1; /* Permite que los enlaces de navegación ocupen el espacio restante */
    justify-content: flex-start; /* Alinea los enlaces de navegación a la izquierda */
}

.nav-button {
    border: none;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600; /* semiBold */
    cursor: pointer;
    transition: color 0.3s;
    color: #333; /* Color del texto */
}

.nav-button:hover {
    color: #007bff; /* Color al pasar el mouse */
}

.logo {
    height: 100%; /* Ajusta la altura al contenedor */
}

.auth-buttons {
    display: flex;
    gap: 10px; /* Espaciado entre los botones de autenticación */
    align-items: center; /* Alinea verticalmente los botones de autenticación */
}

.profile-image {
    width: 40px; /* Ancho del icono de perfil */
    height: 40px; /* Alto del icono de perfil */
    border-radius: 50%; /* Hace que la imagen sea redonda */
    margin-right: 10px; /* Espaciado a la derecha del icono */
    object-fit: cover; /* Asegura que la imagen se ajuste correctamente */
}

.auth-button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff; /* Color del botón */
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600; /* semiBold */
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-button:hover {
    background-color: #0056b3; /* Color al pasar el mouse */
}
